.file-upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200vh; /* Make the container full height of the viewport */
  }
  
  .compare-container {
    margin-bottom: 5px;
  }
  
  .backend-output-boxx {
    width: 700px; /* Adjusted width for better readability */
    height: 500px;
    background-color: var(--modal-bg-color);
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-top: 30px;
  }
  .compare-container {
    text-align: center; /* Center-align text */
  }
  
