.insurance-comparisons-container {
    text-align: center;
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 10px;
}
 
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.upload-button, .download-button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
}
  
.upload-button:hover, .download-button:hover {
    background-color: #f0f0f0;
}
  